.cart-container {
    position: relative;
    padding-top: 55px;
    color: rgba(255,255,255, 0.9);
}

.cart-container .btn {
    position: absolute;
    right: 0;
    top: 0;
}

.cart-container.btn-primary {
    background-color: #2a5582;
    border-color: #2a5582;
}

.cart-container .btn-primary:hover {
    background-color: #3899ff;
    border-color: #3899ff;
}

.cart-container .table-wrapper {
    width: 100%;
}

.cart-container table {
    width: 100%;
}

.cart-container table td, th {
    padding: 10px;
    text-align: left;
}

.cart-container table tr {
    border: 1px solid #6c757d;
}

.cart-container table td:nth-last-child(1), th:nth-last-child(1) {
    padding: 10px;
    text-align: right;
}

.cart-container .total {
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}