.sign-in-avatar {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: max-content;
    border-radius: .25rem;
}

.already-authorized {
    display: flex;
    justify-content: center;
    margin: 30% auto;
    font-size: 1.5rem;
}

.valid-img, .invalid-img {
    position: absolute;
    top: -270px;
    left: 39px;
}
