.book-page {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.book-details-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 345px;
    max-width: 500px;
    margin-bottom: 2rem;
}

.book-details-wrapper b {
    color: gray;
}

.main-details {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.book-details-wrapper .main-details img {
    background-color: rgba(255,255,255, 0.9);
    border-radius: .25rem;
    width: 50%;
    max-height: 325px;
}

.book-details-wrapper .main-details .book-details {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.main-details .book-details div {
    margin-bottom: 1rem;
}

.main-details .book-details .book-title{
    font-size: 1.2rem;
    font-weight: bold;
}

.book-details-wrapper .description {
    margin-top: 1rem;
}

.price-wrapper {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.price-wrapper .price-counter {
    display: flex;
    flex-direction: column;
}

.price-wrapper .price-counter .price-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.price-wrapper .price-counter .counter-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.counter-wrapper .input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.counter-wrapper .input-wrapper div {
    margin-top: 0.5rem;
}

.counter-wrapper .counter {
    width: 95px;
    height: 25px;
}

.counter-wrapper input{
    width: 75px;
    height: 25px;
    background-color: #182533;
    color: rgba(255,255,255, 0.9);
    border: 1px solid rgba(255,255,255, 0.9);
}

.counter-wrapper input:focus {
    /*background-color: #282828;*/
    background-color: #182533;
    color: rgba(255,255,255, 0.9);
}

.counter-wrapper input::placeholder {
    /*background-color: #282828;*/
    background-color: #182533;
    color: rgba(255,255,255, 0.9);
}

.price-wrapper .btn {
    margin-top: 2rem;
}

.price-wrapper .btn-primary {
    background-color: #2a5582;
    border-color: #2a5582;
}

.price-wrapper .btn-primary:hover {
    background-color: #3899ff;
    border-color: #3899ff;
}
