.book-list-item {
    display: flex;
    flex-direction: column;
    padding: 14px;
    width: 320px;
    height: 323px;
    margin-right: 25px;
    border-radius: .25rem;
    /*background-color: #282828;*/
    background-color: #182533;
    color: rgba(255,255,255, 0.9);
}

.book-list-item .book-cover {
    width: 100%;
    height: 169px;
    background-color: rgba(255,255,255, 0.9);
    border-radius: .25rem;
}

.book-list-item .book-cover img {
    max-width: 100%;
}

.book-list-item .book-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 13px;
}

.book-list-item .book-details .book-title {
    font-size: 1.2rem;
    font-weight: bolder;
}

.book-list-item .book-details .book-author {
    font-size: 1.2rem;
}

.book-list-item .book-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.book-list-item .book-footer .book-price {
    font-size: 1.5rem;
    font-weight: bold;
}

.book-list-item .book-footer .bnt {
    font-size: 1rem;
    font-weight: bold;
    width: 113px;
}

.book-list-item .book-footer .btn-primary {
    background-color: #2a5582;
    border-color: #2a5582;
}

.book-list-item .book-footer .btn-primary:hover {
    background-color: #3899ff;
    border-color: #3899ff;
}
