@import '../../styles/variables.scss';

.filter-wrapper {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    input {
        height: 35px;
        max-width: 185px;
        background-color: #182533;
        color: rgba(255,255,255, 0.9);
        border: none;
        &:focus {
            background-color: $secondary-bg;
            color: $text-color;
        }
        &::placeholder {
            background-color: $secondary-bg;
            color: $text-color;
        }
    }
}

.filter-wrapper select {
    height: 35px;
    max-width: 428px;
    margin-left: 1rem;
    border-radius: .25rem;
    background-color: $secondary-bg;
    border: none;
    color: $text-color;
}
