.filter-wrapper {
    margin: 2rem 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.filter-wrapper input {
    height: 35px;
    max-width: 196px;
    /*background-color: #282828;*/
    background-color: #182533;
    color: rgba(255,255,255, 0.9);
    border: none;
}

.filter-wrapper input:focus {
    /*background-color: #282828;*/
    background-color: #182533;
    color: rgba(255,255,255, 0.9);
}

.filter-wrapper input::placeholder {
    /*background-color: #282828;*/
    background-color: #182533;
    color: rgba(255,255,255, 0.9);
}

.filter-wrapper select {
    height: 35px;
    max-width: 428px;
    margin-left: 20px;
    border-radius: .25rem;
    /*background-color: #282828;*/
    background-color: #182533;
    border: none;
    color: rgba(255,255,255, 0.9);
}
