.shop-header {
    border: 1px solid black;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-radius: .25rem;
}

.shop-header .logo {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 1.5rem 0.7rem;
}

.shop-header .shop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.shop-header .shop-menu .menu-item {
    margin: 0 1rem;
}

.shop-header .shop-menu a {
    font-size: 50px;
}

.shop-header .shop-menu .btn {
    height: 44px;
    width: 115px;
    font-size: 1.2rem;
}

.pseudo-avatar {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 1px solid #9d9d9d;
    border-radius: 50%;
    background: #fff;
}

.menu-item .userName {
    font-size: 1.4rem;
    font-weight: bold;
}
