@import '../../styles/variables.scss';

.back-top {
    position: fixed;
    bottom: 80px;
    right: 5%;
    color: $text-color;
    display: none;
    cursor: pointer;
    i {
        font-size: 3rem;
    }
    &:hover {
        color: $btn-hover-color;
    }
}

.show {
    display: block;
}
